CompileFlags:
    Remove: ["-forward-unknown-to-host-compiler",
             "--generate-code=arch=compute_75,code=[compute_75,sm_75]",
             "--generate-code=arch=compute_89,code=[compute_89,sm_89]"]
